---
version: '3.7'
services:
  bitwarden:
    image: bitwardenrs/server
    container_name: bitwarden
    ports:
      - 8002:80
    volumes:
      - ./data:/data
    restart: unless-stopped

  bw_backup:
    image: jhns/bw_backup
    restart: unless-stopped
    init: true
    depends_on:
      - bitwarden
    volumes:
      - ./data:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - ./backup:/backup/
    environment:
      - DB_FILE=/data/db.sqlite3
      - CRON_TIME=0 3 * * *
      - TIMESTAMP=false
      - UID=0
      - GID=0
      - BACKUP_FILE_PERMISSIONS=700
      - DUPLICACY_STORAGE_URL=b2://your_bitwarden_bucket
      - DUPLICACY_PASSWORD=encryption_password_goes_here
      - DUPLICACY_B2_ID=key_id_goes_here
      - DUPLICACY_B2_KEY=application_key_goes_here

